[Unit]
Description=Battery Counter Display Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=asep
WorkingDirectory=/home/asep/Documents/asep-battery-counter/pico-battery-counter
ExecStart=/usr/bin/python3 /home/asep/Documents/asep-battery-counter/pico-battery-counter/main.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target