[Unit]
Description=Run the Battery Counter Display on Startup
After=multi-user.target

[Service]
Type=simple
User=asephntl
WorkingDirectory=/Users/quangngo/Documents/Data/Quang's Life/asep_project/battery-counter/pico-battery-counter
ExecStart=/usr/bin/python3 main.py
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target